.b-hasoneselector-field .grid-field {
    margin-top: 1rem;
}

.b-hasoneselector-field .grid-field__table {
    margin: 0;
    min-width: auto;
    border: 1px solid #dbe0e9;
}

.b-hasoneselector-field .grid-field__table td {
    padding: 0.8rem;
}
