.ss-gridfield-buttonrow {
    width: 100%;
}

.add-existing-autocompleter {
    float: right;
    margin: 0 !important;
}

.ss-gridfield-buttonrow.ss-gridfield-buttonrow-before {
    float: left;
}

.cms table.ss-gridfield-table td:first-child {
    border-left: 0 none;
}

.cms table.ss-gridfield-table td:last-child {
    border: 0 none;
}

.cms table.ss-gridfield-table {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
